<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %> 

<body>

  <%- include("../partials/header") %> 
  <main class="cart">
    <section id="cart-items">
      <div class="cart-item">
        <img src="/img/products/horizon.jpg" alt="Item 1">
        <div class="item-details">
          <h3>Horizon: Zero Dawn</h3>
          <p>¡Comprando con el 30% OFF estas ahorrando $2.700!</p>
          <span class="item-price">$6.300</span>
        </div>
        <button class="remove-button">Remover</button>
      </div>
      <div class="cart-item">
        <img src="/img/products/witcher.jpg" alt="Item 1">
        <div class="item-details">
          <h3>The Witcher 3: Wild Hunt</h3>
          <p>¡Comprando con el 30% OFF estas ahorrando $5.100!</p>
          <span class="item-price">$11.900</span>
        </div>
        <button class="remove-button">Remover</button>
      </div>
    </section>
    <div class="total">
      <div id="cart-total">
        <h2>Total:</h2>
        <span id="total-amount">$28.040</span>
        <button class="comprar">Comprar</button>
      </div>
    </div>
    
  </main>
  <script src="cart.js"></script>
  <%- include("../partials/footer") %> 
</body>

</html>



