<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

  <body>

    <%- include("../partials/header") %>
      <main>
        <div class="login-container">
          <h1>Vende tu Juego!</h1>
          <form id="product-form" action="/creacion" method="post" enctype="multipart/form-data">
            <label for="titulo">Nombre del producto</label>
            <input type="text" id="titulo" name="titulo" required>


            <label for="image">Imagen</label>
            <input type="file" id="image" name="image" accept="image/*">


            <label for="descuento">Descuento</label>
            <input type="text" id="descuento" name="descuento" required>

            <label for="precio">Precio</label>
            <input type="number" id="precio" name="precio" required>

            <label for="multijugador">Multijugador</label>
            <input id="multijugador" name="multijugador" required>

            <label for="online">Online</label>
            <input id="online" name="online" required>

            <label for="categoria">Seleciona la categoria</label>
            <select id="categoria" name="categoria" required>
              <option>Aventuras</option>
              <option>Acción</option>
              <option>Juego de MMO</option>
              <option>Estrategia</option>
              <option>Coopertativos</option>
              <option>Deportes y Carreras</option>
            </select>

            <label for="description">Descripción</label>
            <input id="description" name="description" required>

            <button type="submit">Vender</button>
          </form>
        </div>
        <script src="script.js"></script>

</html>
</main>

<%- include("../partials/footer") %>
  </body>

  </html>