<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ReadMe</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    </head>
<body>
  <header>
    <div class="header1">
      <a href="/inicio"><img class="logo" src="img/Logo.png" alt=""></a>
        <div class="busq">
            
            <input class="input" type="text" name="Busqueda" placeholder="Busqueda">
            <i class="fa fa-search"></i>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <ul class="usuario">
            <li><a href="/register">Crea tu cuenta <i class="far fa-id-card"></i></a></li>
            <li><a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="/cart">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
        </ul>
    </div>
    <nav>    
        <div class="all-nav">
            <div><a href="#">Oferta</a></div>
            <div><a href="#">Tiendas Oficiales</a></div>
            <div><a href="#">Vender</a></div>
            <div><a href="#">Ayuda</a></div>
        </div>
    </nav>
        <marquee behavior="scroll" direction="left" scrolldelay="800" scrollamount="100">
            <div class="pago">
                <p><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito </p>   
            </div>
        </marquee>    
    </header>
  <main class="cart">
    <section id="cart-items">
      <!-- Cart items se van a agregar cn JavaScript -->
      <div class="cart-item">
        <img src="/img/img-odisea.png" alt="Item 1">
        <div class="item-details">
          <h3>La Odisea</h3>
          <p>¡Comprando con el 20% OFF estas ahorrando $2.460!</p>
          <span class="item-price">$9.840</span>
        </div>
        <button class="remove-button">Remover</button>
      </div>
      <div class="cart-item">
        <img src="/img/horizon.jpg" alt="Item 1">
        <div class="item-details">
          <h3>Horizon: Zero Dawn</h3>
          <p>¡Comprando con el 30% OFF estas ahorrando $2.700!</p>
          <span class="item-price">$6.300</span>
        </div>
        <button class="remove-button">Remover</button>
      </div>
      <div class="cart-item">
        <img src="/img/witcher.jpg" alt="Item 1">
        <div class="item-details">
          <h3>The Witcher 3: Wild Hunt</h3>
          <p>¡Comprando con el 30% OFF estas ahorrando $5.100!</p>
          <span class="item-price">$11.900</span>
        </div>
        <button class="remove-button">Remover</button>
      </div>
    </section>
    <div class="total">
      <div id="cart-total">
        <h2>Total:</h2>
        <span id="total-amount">$28.040</span>
        <button class="comprar">Comprar</button>
      </div>
    </div>
    
  </main>
  <script src="cart.js"></script>
</body>
<footer>
  <div class="logo-container">
    <img src="img/Logo.png" alt="Logo">
    <p>&copy; 2023 Media Heaven</p>
  </div>

  <div class="footer-content">
    <ul class="footer-links">
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms of Service</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
    <p>&copy; 2023 Media Heaven. Todos los derechos reservados.</p>
  </div>
</footer>
</html>



