<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mercado Liebre</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    </head>
<body>
  <header>
    <h1>Carrito de Compras</h1>
    <a href="/">volver al home</a>
  </header>
  <main class="cart">
    <section id="cart-items">
      <!-- Cart items se van a agregar cn JavaScript -->
      <div class="cart-item">
        <img src="/img/RedDead2.png" alt="Item 1">
        <div class="item-details">
          <h3>Item 1</h3>
          <p>Descripcion del Item 1 Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <span class="item-price">$19.99</span>
        </div>
        <button class="remove-button">Remove</button>
      </div>
      <div class="cart-item">
        <img src="/img/RedDead2.png" alt="Item 1">
        <div class="item-details">
          <h3>Item 1</h3>
          <p>Descripcion del Item 1 Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <span class="item-price">$19.99</span>
        </div>
        <button class="remove-button">Remove</button>
      </div>
      <div class="cart-item">
        <img src="/img/RedDead2.png" alt="Item 1">
        <div class="item-details">
          <h3>Item 1</h3>
          <p>Descripcion del Item 1 Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <span class="item-price">$19.99</span>
        </div>
        <button class="remove-button">Remove</button>
      </div>
    </section>
    <div id="cart-total">
      <h2>Total:</h2>
      <span id="total-amount">$0.00</span>
    </div>
  </main>
  <script src="cart.js"></script>
</body>
</html>



