<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReadMe</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>

    <header>
        <div class="header1">
            <a href="/inicio"><img class="logo" src="img/Logo.png" alt=""></a>
            <div class="busq">
                
                <input class="input" type="text" name="Busqueda" placeholder="Busqueda">
                <i class="fa fa-search"></i>
            </div>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
            <ul class="usuario">
                <li><a href="/register">Crea tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/cart">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </div>
        <nav>    
            <div class="all-nav">
                <div><a href="#">Oferta</a></div>
                <div><a href="#">Tiendas Oficiales</a></div>
                <div><a href="#">Vender</a></div>
                <div><a href="#">Ayuda</a></div>
            </div>
        </nav>
            <marquee behavior="scroll" direction="left" scrolldelay="800" scrollamount="100">
                <div class="pago">
                    <p><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito </p>   
                </div>
            </marquee>    
    </header>

    <main>
        <div class="login-container">
            <h1>Register</h1>
            <form>
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <label for="confirm-password">Confirm Password:</label>
                    <input type="password" id="confirm-password" name="confirm-password" required>
                </div>
                <div class="profile-group">
                    <label>Profile:</label>
                    <label>
                      <input type="checkbox" name="profile" value="buyer"> Buyer
                    </label>
                    <label>
                      <input type="checkbox" name="profile" value="seller"> Seller
                    </label>
                  </div>
                <button type="submit">Register</button>
            </form>
        </div>
    </main>

    <footer>
        <div class="logo-container">
          <img src="img/LogoAzul.png" alt="Logo">
          <p>&copy; 2023 ReadMe</p>
        </div>

        <div class="footer-content">
          <ul class="footer-links">
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
          <p>&copy; 2023 ReadMe. Todos los derechos reservados.</p>
        </div>
      </footer>

</body>

</html>