body{
    font-family: "roboto", sans-serif;
}
/*_______________________HEADER______________________ */
header{
    background-color:#134d64b7;
    color: #fff;
   }
   .logo {
       width: 9vw;
       height: 7vw;
       margin-left: 10px;
   }
   *{
       margin: 0px;
       box-sizing: border-box;
   }
   .header1{
       display: flex;
       justify-content: space-between;
   }
   .busq{
       display: flex;
       align-items: center;
   }
   .input{
       width:90%;
       padding: 5px;
       border-radius: 5px;
       background-color: #fff;
       color: black;
   }
   .pago{
    margin-top: 7px;
    margin-bottom: 3px;
    text-decoration-style: none;
    text-decoration: none;
    color:#fff;
 }
   .burger-menu{
       text-align: center;
       margin-top: 30px;
       display: block;
   }
   .burger-menu i{
       color: rgb(255, 255, 255);
       font-size: 20px;
       padding: 10px ;
       align-items: flex-end;
       
   }
   a{
       text-decoration: none;
       color:#fff;
   }
   .all-nav{
       display: flex;
       justify-content: space-around;
       margin-left: 10vw;
       margin-right: 10vw;
       flex-wrap: nowrap;
       text-decoration-style: none;
       text-decoration: none;
   }
   .usuario{
       list-style-type: none;
       margin: 25px 10px 0 0;
       flex-wrap: nowrap;
       text-decoration: none;
       color:#000;
       font-size: 0.8em;
       text-align: end;
       display: none;
   }
   /*_______________________main______________________________*/
   
   main.detalle{
       background-color: #000000ec;
       color: #fff;
       border-bottom: 5px solid #00000000;
       box-sizing: border-box;

   }
   .descripcion li{
       list-style-type: none;
       margin-right: 5px;
       font-size: 4vw;
   }
   .juego{
       display: flex;
       justify-content: space-around;
       align-items: center;
   }
   .ImagenJuego{
       height: 50vw;
       width: 45vw ;
       margin: 4vw;
   }
   main p.detalle{
       text-align: center;
       margin: 0 5% 0 5%;
   }
   .datosJuego{
       line-height: 150%;
   }
   .tituloJuego{
       margin-bottom: 10%;
       text-align: left;
   }
   .ImagenJuego{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 40%;
   }
   .botonDeCompra{
    font-family: fantasy;
    color: #fff;
    background-color: #007bff;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
   }
   .botonDeEdicion{
    font-family: fantasy;
    color: #fff;
    background-color: #00ff00be;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
   }
   .botonDeEdicion:hover{
    background-color: #209103;
  }

   
   /*__________________FOOTER______________________*/
   footer {
    background-color:#134d64b7;
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  .logo-container{
    padding-left:20px;
  }
  .logo-container img{
    height: 6vw;
    width: 7vw; 
  }
  .footer-content {
    margin-top: 85px;
  }
  
  .footer-content p {
    margin: 0;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }
  
  .footer-links li {
    margin: 0 10px;
  }
  
  .footer-links li a {
    text-decoration: none;
    color: white;
  }
  
  .footer-links li a:hover {
    color: var(--Azul-francia);
  }

/*____________Break Points_______________*/

@media (min-width: 480px){
    header nav ul{
        display: flex;
        width:45%;
    }
    a{
        text-decoration: none;
    }

    h4.descripcion{
        display: block;
    }
    main article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 40%;
    }
    .productos{
        justify-content: space-around;
    }
    .usuario{
        display: block;
    }
    .burger-menu{
        display: none;
}
}
   /*____________Break Points_______________*/
   @media (min-width: 481px){
   .usuario{
    display: block;
   }
   .burger-menu{
    display: none;
   }
   .descripcion{
    font-size: x-large;
    margin: 15px;
   }
   }
   @media(min-width: 769px){
    .datosJuego{
        line-height: 200%;
    }
    .descripcion li{
        font-size: 3vw;
    }
    .ImagenJuego{
        height: 40vw;
        width: 35vw ;
        margin: 4vw;
    }
   }
   @media (min-width: 1280px){
    .datosJuego{
        line-height: 250%;
    }
    .descripcion {
        font-size: 2vw;
    }
   }