body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  .login-container {
    max-width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

/* Profile Group Styles */
.profile-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .profile-group label {
    margin-right: 15px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .profile-group input[type="checkbox"] {
    margin-right: 5px;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .profile-group input[type="checkbox"]:checked {
    background-color: #007bff;
  }