/*_____________HEADER_________*/

header{
  background-color:#134d64b7;
  color: #fff;
 }
 .logo {
     width: 15vh;
     height: 15vh;
 }
 .header1{
     display: flex;
     justify-content: space-between;
 }
 .busq{
     display: flex;
     align-items: center;
 }
 .input{
     width:90%;
     padding: 5px;
     border-radius: 5px;
     background-color: #fff;
 }
 .pago{
    margin-top: 7px;
    margin-bottom: 3px;
    text-decoration-style: none;
    text-decoration: none;
    color:#fff;
 }
 .burger-menu{
     text-align: center;
     margin-top: 30px;
     display: block;
 }
 .burger-menu i{
     color: rgb(255, 255, 255);
     font-size: 20px;
     padding: 10px ;
     align-items: flex-end;
     
 }
 a{
     text-decoration: none;
     color:#fff;
 }
 .usuario{
     list-style-type: none;
     margin: 25px 10px 0 0;
     flex-wrap: nowrap;
     text-decoration: none;
     color:#000;
     font-size: 0.8em;
     text-align: end;
     display: none;
 }
 /*____________MAIN__________*/
main{
  width:100vw;
  margin: auto;
  border: 15px solid;
  border-color: #00000000;
  background-color: #000000ec;
}
body {
    font-family: Arial, sans-serif;
  }
  
  .login-container {
    width: 80vw;
    margin:auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(172, 170, 170);
    width: 40%;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 70px;
  }
  
  button:hover {
    background-color: #0056b3;
  }

/* Profile Group */
.profile-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .profile-group label {
    margin-right: 15px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .profile-group input[type="checkbox"] {
    margin-right: 5px;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
  }
/*__________BREACKPOINT________*/
@media (min-width: 481px){
  .login-container{
    width: 70vw;
  }
}
@media (min-width: 721px){
  .login-container{
    width: 50vw;
  }
}