@import "login.css";
@import "cart.css";
@import "detalle.css";
@import "profile.css";


:root{
    --Blanco: #f2f6f9;
    --Celeste: #7fb1d9;
    --Azul: #144799;
    --Azul-marino: #0f3877;
    --Azul-francia: #0c2c55;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--Gris-claro);

}

/*__________________HEADER______________________*/
header{
    width:100vw;
    background-color:#134d64b7;
    color: #fff;
   }
   .logo {
       margin-left: 10px;
       margin-top: 10px;
       width: 7vw;
       height: 6vw;
   }
   *{
       margin: 0px;
       box-sizing: border-box;
   }
   .header1{
       display: flex;
       justify-content: space-between;
   }
   .busq{
       width: 25%;
       margin-top: 35px;
       display: flex;
       align-items: center;
       height: 20%;
   }
   .input{
       width:90%;
       padding: 5px;
       border-radius: 5px;
       background-color: #fff;
       color: black;
   }
   .pago{
    margin-top: 7px;
    margin-bottom: 3px;
    text-decoration-style: none;
    text-decoration: none;
    color:#fff;
 }
   .burger-menu{
       text-align: center;
       margin-top: 30px;
       display: block;
   }
   .burger-menu i{
       color: rgb(255, 255, 255);
       font-size: 20px;
       padding: 10px ;
       align-items: flex-end;
       
   }
   header a{
       text-decoration: none;
       color:#fff;
   }
   .all-nav{
       display: flex;
       justify-content: space-around;
       margin-left: 10vw;
       margin-right: 10vw;
       flex-wrap: nowrap;
       text-decoration-style: none;
       text-decoration: none;
       color:#000;
   }
   .usuario{
       list-style-type: none;
       margin: 25px 10px 0 0;
       flex-wrap: nowrap;
       text-decoration: none;
       color:#000;
       font-size: 0.8em;
       text-align: end;
       display: none;
   }

/*__________________MAIN______________________*/
main{
    width:100vw;
    background-color: #000000ec;
}
.inicio{
    display: flex;
}
.contenidoCat{
    display: flex;
    background-color: #134d64b7;
    
}
.categorias{
    width: 20vw;
    padding: 15px;
    box-sizing: border-box;
    color: white;

}
.categorias ul {
    list-style-type: none;
    padding: 10px;
    
}

.categorias li {
    margin-bottom: 15px;

}

.categorias a {
    text-decoration: none;
}

.contenidoPrincipal {
    flex: 1;
    padding: 20px;
}
article{
    margin-bottom: 10px;
    background-color: #ffffffea;
}
article img{
    width:100%;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}
.product{
    margin: 20px;
}
.product-info{
    width: 100%;
    padding:15px;
    display: flex;
    flex-wrap:wrap;
    position: relative;
    color:#000;
}
div.product-info i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    color: var(--Verde);
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}
h3.titulares{
    font-size: 24px;
    display: flex;
    color:#fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
    margin-left: 20px;
}
p.precio{
    font-size: 18px;
    width:70%;
}
p.descuento{
    font-size: 16px;
    width:30%;
}
h4.descripcion{
    font-size: 16px;
    display: none;
}
article img{
    border-bottom: 1px solid gray;
}

.crear_category{
    --clip: polygon (0 0, 100% , 0 0)
}


.datosUsuario{
    color: white;
    text-align: center;
}
.datosUsuario li{
    list-style-type: none
}

.datosUsuario li h2{
    margin-bottom: 15px;
}


/*__________________FOOTER______________________*/
footer {
    width:100vw;
    background-color:#134d64b7;
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  .logo-container{
    padding-left:20px;
  }
  .logo-container img{
    height: 6vw;
    width: 7vw; 
  }
  .footer-content {
    margin-top: 85px;
  }
  
  .footer-content p {
    margin: 0;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }
  
  .footer-links li {
    margin: 0 10px;
  }
  
  .footer-links li a {
    text-decoration: none;
    color: white;
  }
  
  .footer-links li a:hover {
    color: var(--Azul-francia);
  }

/*____________Break Points_______________*/

@media (min-width: 481px){
    header nav ul{
        display: flex;
        width:45%;
    }
    a{
        text-decoration: none;
    }

    h4.descripcion{
        display: block;
    }
    main article{
        
        width: 40%;
    }
    main article:hover{
        box-shadow: 0px 0px 25px rgb(100, 100, 100);
        width: 22%;
    }
    .usuario{
        display: block;
    }
    .burger-menu{
        display: none;
}
}


@media (min-width: 769px){
    main article{
    width: 20%;
    }
    .usuario{
        display: block;
    }

}

