<!DOCTYPE html>
<html lang="en">

<%- include("partials/head") %> 

<body>

    <%- include("partials/header") %> 

    <main class="detalle">
        <div class="juego">
            <img class="ImagenJuego" src="img/horizon.jpg" alt="">
            <div class="descripcion">
                <ul>
                    <li><h2>Horizon: Zero Dawn</h2></li>
                    <div class="tituloJuego">
                        <li><h3>$9.000</h3></li>
                        <li>en 12x $750</li>
                    </div>
                    <div class="datosJuego">
                        <li>Plataforma: PS4</li>
                        <li>Formato: físico</li>
                        <li>Multijugador: No</li>
                        <li>Online: No</li>
                        <li><button class="botonDeCompra">Agregar al Carrito</button></li>
                    </div>
                </ul>
            </div> 
        </div>
        <p class="detalle">En una era en la cual las máquinas deambulan libres por la tierra y la humanidad ya no es la especie dominante, una joven cazadora llamada Aloy se embarca en un viaje para descubrir su destino.
        </p>
        <p class="detalle">En un exuberante mundo postapocalíptico donde la naturaleza ha reclamado las ruinas de una civilización olvidada, los remanentes de la humanidad viven en primitivas tribus cazadoras-recolectoras. Su dominio sobre esta nueva tierra salvaje ha sido usurpado por las máquinas, temibles criaturas mecánicas de origen desconocido. 
        </p>
    </main>
    
    <%- include("partials/footer") %> 

</body>
</html>