<!DOCTYPE html>
<html lang="en">

<%- include("partials/head") %> 

<body>

    <%- include("partials/header") %> 

    <main class="detalle">
        <div class="juego">
            <img class="ImagenJuego" src="img/img-odisea.png" alt="">
            <div class="descripcion">
                <ul>
                    <li><h2>La Odisea</h2></li>
                    <div class="tituloJuego">
                        <li><h3>$12.300</h3></li>
                        <li>en 12x $1.025</li>
                    </div>
                    <div class="datosJuego">
                        <li>Formato: físico</li>
                        <li>Tapa: dura</li>
                        <li>Editorial: Del Fondo</li>
                        <li>Autor: Homero</li>
                        <li><button class="botonDeCompra">Agregar al Carrito</button></li>
                    </div>
                </ul>
            </div> 
        </div>
        <p class="detalle">La Odisea es un poema épico griego compuesto por 24 cantos, atribuido al poeta griego Homero. Se cree que fue compuesta en el siglo VIII a. C. en los asentamientos que tenía Grecia en la costa oeste del Asia Menor. Según otros autores, la Odisea se completa en el siglo VII a. 
            
        </p>
    </main>
    
    <%- include("partials/footer") %> 

</body>
</html>