<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head") %> 
<body>
    <%- include("partials/header") %> 

    <main class="detalle">
        <div class="juego">
            <img class="ImagenJuego" src="img/assassins.jpg" alt="">
            <div class="descripcion">
                <ul>
                    <li><h2>Assassins Creed: Revelations</h2></li>
                    <div class="tituloJuego">
                        <li><h3>$7.000</h3></li>
                        <li>en 12x $584</li>
                    </div>
                    <div class="datosJuego">
                        <li>Plataforma: PS4</li>
                        <li>Formato: físico</li>
                        <li>Multijugador: No</li>
                        <li>Online: No</li>
                        <li><button class="botonDeCompra">Agregar al Carrito</button></li>
                    </div>
                </ul>
            </div> 
        </div>
        <p class="detalle">Una nueva aventura enfrentará a Ezio con los secretos más oscuros de la hermandad. Los jugadores acompañarán al protagonista a Constantinopla para hallar la biblioteca perdida de los Asesinos y se enfrentará con preguntas y respuestas que pueden dar un giro a todo lo que cree. 
            
        </p>
    </main>
    
    <%- include("partials/footer") %> 

</body>
</html>