<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head") %> 
<body>

    <%- include("partials/header") %> 

    <main class="detalle">
        <div class="juego">
            <img class="ImagenJuego" src="img/img-crimen-y-castigo.png" alt="">
            <div class="descripcion">
                <ul>
                    <li><h2>Crimen y Castigo</h2></li>
                    <div class="tituloJuego">
                        <li><h3>$17.500</h3></li>
                        <li>en 12x $1460</li>
                    </div>
                    <div class="datosJuego">
                        <li>Formato: físico</li>
                        <li>Tapa: dura</li>
                        <li>Editorial: Alianza</li>
                        <li>Autor: Dostoyevski</li>
                        <li><button class="botonDeCompra">Agregar al Carrito</button></li>
                    </div>
                </ul>
            </div> 
        </div>
        <p class="detalle">Crimen y castigo​ es una novela de carácter psicológico escrita por el autor ruso Fiódor Dostoyevski. Fue publicada por primera vez, por entregas, en la revista El mensajero ruso, entre 1866 y 1867​, en doce partes, y publicada después como libro.​​
            
        </p>
    </main>
    
    <%- include("partials/footer") %> 

</body>
</html>