<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head") %> 
<body>
 
    <%- include("partials/header") %> 

    <main>
        <div class="juego">
            <img class="ImagenJuego" src="img/img-quijote1.png" alt="">
            <div class="descripcion">
                <ul>
                    <li><h2>Don Quijote de la Mancha Vol. 1</h2></li>
                    <div class="tituloJuego">
                        <li><h3>$15.770</h3></li>
                        <li>en 12x $1.315</li>
                    </div>
                    <div class="datosJuego">
                        <li>Formato: físico</li>
                        <li>Tapa: dura</li>
                        <li>Editorial: Alianza</li>
                        <li>Autor: Miguel de Cervantes</li>
                        <li><button class="botonDeCompra">Agregar al Carrito</button></li>
                    </div>
                </ul>
            </div> 
        </div>
        <p>El ingenioso hidalgo don Quijote de la Mancha narra las aventuras de Alonso Quijano, un hidalgo pobre que de tanto leer novelas de caballería acaba enloqueciendo y creyendo ser un caballero andante, nombrándose a sí mismo como don Quijote de la Mancha.            
        </p>
    </main>
    
    <%- include("partials/footer") %> 

</body>
</html>