<!DOCTYPE html>
<html lang="en">

<%- include("partials/head") %> 

<body>

    <%- include("partials/header") %> 

    <main class="detalle">
        <div class="juego">
            <img class="ImagenJuego" src="img/witcher.jpg" alt="">
            <div class="descripcion">
                <ul>
                    <li><h2>The Witcher 3: Wild Hunt</h2></li>
                    <div class="tituloJuego">
                        <li><h3>$17.000</h3></li>
                        <li>en 12x $1.417</li>
                    </div>
                    <div class="datosJuego">
                        <li>Plataforma: PS5</li>
                        <li>Formato: físico</li>
                        <li>Multijugador: No</li>
                        <li>Online: No</li>
                        <li><button class="botonDeCompra">Agregar al Carrito</button></li>
                    </div>
                </ul>
            </div> 
        </div>
        <p class="detalle">Esta aventura se ambienta en un universo de fantasía impresionante, lleno de opciones para decidir y enfrentar las consecuencias. Los jugadores darán vida a Geralt de Rivia, un cazador de monstruos que deberá recorrer largas distancias y explorar lugares increíbles para lograr una importante misión. 
            
        </p>
    </main>
    
    <%- include("partials/footer") %> 

</body>
</html>