<footer>
    <div class="logo-container">
      <img src="/img/Logo.png" alt="Logo">
      <p>&copy; 2023 Media Heaven</p>
    </div>

    <div class="footer-content">
      <ul class="footer-links">
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms of Service</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
      <p>&copy; 2023 Media Heaven. Todos los derechos reservados.</p>
    </div>
  </footer>